
.el-aside{
    position: relative;
}

//表格
.el-table--border td:last-child{
    border-right: 0;
}

.el-table--border, .el-table--group{
    border: 0;
}
.el-table--border::after, .el-table--group::after{
    width: 0;
}

//菜单无限循环  缩进菜单时，二级菜单不显示文字问题
.el-menu--popup .el-menu--collapse{
    width: auto;
    &>.el-menu-item span{
        height: auto;
        width: auto;
        overflow: hidden;
        visibility: visible;
        display: inline-block;
    }
}

//面包屑
.el-breadcrumb {
    font-size: 16px;
}

.el-breadcrumb__inner.is-link,
.el-breadcrumb__separator.el-icon-arrow-right{
    color: rgb(64, 158, 255)
}

