

.el-menu--horizontal>.el-menu-item.is-active{
    border-bottom: 0;
    font-size: 16px;
}
.el-menu-item{
    transition: none;
    -webkit-transition: none;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{
    color: rgba(0,0,0,.5);
}

.el-carousel__item img{
    width: 100%;
}

